#griddiv-left {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 49%;
float: left;
}
#griddiv-right {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 49%;
float: right;
}
#rowstart {
padding-top:  50px;
padding-left: 50px;
padding-right: 50px;
}
#rowend {
padding-top: 15px;
padding-left: 50px;
padding-right: 50px;
}
#buttonrow {
padding-top: 15px;
padding-bottom: 50px;
padding-left: 50px;
padding-right: 50px;
}
