#griddiv-left {
width: 39.5%;
float: left;
margin-left: 10%;
margin-top: 1%;
font-size: 120%;
}
#griddiv-right {
width: 39.5%;
float: right;
margin-right: 10%;
margin-top: 1%;
}
#rowstart {
padding-top:  5%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 1%;
}
#rowend {
padding-top: 2.5%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
}
#rowmid {
padding-left: 5%;
padding-right: 5%;
}
#griddiv-search {
width: 80%;
text-align: center;
margin-bottom: 2.5%;
margin: 0 auto;
text-transform: capitalize;
}
#heading{
	padding-left: 10%;
}
#searchrow{
	padding-top:  1.5%;
	padding-bottom: 1.5%;
}
