#stats {
    border-collapse: collapse;
}
#stats td, #stats th {
    border: 1px solid #ddd;
    text-align: center;
	background-color: #f2f2f2;
}
#stats tr:nth-child(even)
{
	background-color: #f2f2f2;
}
#stats tr:hover {
	background-color: #ddd;
}

#stats th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ff0000;
    color: white;
}
#griddiv-table {
	width: 80%;
	text-align: center;
	margin-top: 0.5%;
	margin-left: 10%;
}
#griddiv-heading{
	width: 80%;
	text-align: center;
	margin-top: 0.5%;
	margin-left: 10%;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
}
