#griddiv-left {
	width: 49.5%;
	font-size: 120%;
  	height: 35vh;
	display: inline-block;
}
#griddiv-right {
	width: 49.5%;
	font-size: 120%;
	height: 35vh;
	display: inline-block;
	margin-left: 1%;
}
#rowstart {
	padding-top:  5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#rowend {
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
#rowmid{
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#rowheader{
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0.5%;
}
#heading{
	padding-left: 10%;
}
#textbox-large{
  	width: 70% !important;
}
#textbox-small{
  	width: 30.5% !important;
}
#submitrow{
	padding-top:  1.5%;
	padding-bottom: 1.5%;
}
#griddiv-submit {
	width: 80%;
	text-align: center;
	margin-top: 0.5%;
	text-transform: capitalize;
	margin-left: 10%;
}
#center{
	display:flex;
	overflow:hidden;
	margin-left: 10%;
  	width: 80%;
}
#status{
	text-align: center;
	font-size: 120%;
	padding-bottom: 1.5%;
}
