#griddiv-left {
	width: 49.5%;
	font-size: 120%;
  	height: 35vh;
	display: inline-block;
}
#griddiv-right {
	width: 49.5%;
	font-size: 120%;
	height: 35vh;
	display: inline-block;
	margin-left: 1%;
}
#griddiv-submit {
	width: 80%;
	text-align: center;
	margin-top: 0.5%;
	margin-left: 10%;
}
#griddiv-table {
	width: 80%;
	margin-top: 0.5%;
	margin-left: 10%;
	text-align: left !important;
}
#rowstart {
	padding-top:  5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#rowend {
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
#rowmid{
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#rowheader{
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0.5%;
}
#heading{
	padding-left: 10%;
}
#textbox-large{
  	width: 70% !important;
}
#textbox-small{
  	width: 30.5% !important;
}
#submitrow{
	padding-top:  1.5%;
	padding-bottom: 1.5%;
}
#center{
	display:flex;
	overflow:hidden;
	margin-left: 10%;
  	width: 80%;
}
#status{
	text-align: center;
	font-size: 120%;
	padding-bottom: 1.5%;
}


#cars {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#cars td, #cars th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cars tr:nth-child(even){background-color: #f2f2f2;}

#cars tr:hover {background-color: #ddd;}

#cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ff0000;
    color: white;
}
