#griddiv-left {
	width: 39.5%;
	margin-left: 10%;
	margin-top: 1%;
	font-size: 120%;
  height: 35vh;
}
#griddiv-right {
	width: 39.5%;
	margin-right: 10%;
	margin-top: 1%;
	font-size: 120%;
  height: 35vh;
}
#rowstart {
	padding-top:  5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#rowend {
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
#rowmid{
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#heading{
	padding-left: 10%;
}
#textbox-large{
  width: 70% !important;
}
#textbox-small{
  width: 35% !important;
}
#submitrow{
	padding-top:  1.5%;
	padding-bottom: 1.5%;
}

#griddiv-submit {
width: 80%;
text-align: center;
margin-bottom: 2.5%;
margin: 0 auto;
text-transform: capitalize;
margin-top: 21.2%;
}
#center{
	display:inline-block;
	overflow:hidden;
	margin-left: 10%;

}
