#griddiv-top {
	width: 80%;
	margin-top: 0.5%;
	font-size: 120%;
	text-align: left !important;
	margin-left: 10%;
}
#griddiv-table {
	width: 80%;
	margin-top: 0.5%;
	margin-left: 10%;
}
#rowstart {
	padding-top:  2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}
#heading{
	padding-left: 10%;
}
#cars {
    border-collapse: collapse;
	width: 100%;
}
#cars td, #cars th {
    border: 1px solid #ddd;
    padding: 8px;
}
#cars tr:nth-child(even)
{
	background-color: #f2f2f2;
}
#cars tr:hover {
	background-color: #ddd;
}

#cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ff0000;
    color: white;
}
