
body {
	background: url(../../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x:hidden;
  background-color: transparent;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.container {
	width: 80%;
	margin: 0 auto;
}

.jumbo-white {
     background-color: white;
     opacity: 0.84;
     border-radius: 20px;
     width: 80%;
	margin: 0 auto;
	padding-top: 35px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 35px;
}
