.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 92px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color: white;
    color: black;
    border: 2px solid #008CBA;
	border-radius: 12px;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
.placeholder {
padding-top: 20px;
width: 100%;
}
